---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge+for+john%40example.com&source=tok_17N4r6FbpquSrt2NSynz7umL
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17N4r8FbpquSrt2NnS9mEgXG",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17N4r8FbpquSrt2NMlakIw9E",
          "captured": true,
          "created": 1451323946,
          "currency": "usd",
          "customer": null,
          "description": "Sign up charge for john@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17N4r8FbpquSrt2NnS9mEgXG/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17N4r6FbpquSrt2Nwx3BbL3V",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "P2iXG4w2kPZzpxZL",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 28 Dec 2015 17:36:46 GMT
recorded_with: VCR 3.0.1
