---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=john%40example.com&plan=base&source=tok_17n3POFbpquSrt2Nx8vL5jFK
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_839iveKKrIA0jd",
          "object": "customer",
          "account_balance": 0,
          "created": 1457514911,
          "currency": "usd",
          "default_source": "card_17n3POFbpquSrt2NPvKJqK10",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17n3POFbpquSrt2NPvKJqK10",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_839iveKKrIA0jd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "P2iXG4w2kPZzpxZL",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_839iveKKrIA0jd/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_839ipZ4KHcRcgs",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1460193311,
                "current_period_start": 1457514911,
                "customer": "cus_839iveKKrIA0jd",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1456891736,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "the base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1457514911,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_839iveKKrIA0jd/subscriptions"
          }
        }
  recorded_at: Wed, 09 Mar 2016 09:15:12 GMT
recorded_with: VCR 3.0.1
