---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17krCCFbpquSrt2NubaoVhCY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17krCCFbpquSrt2NubaoVhCY",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1456991308,
          "data": {
            "object": {
              "id": "ch_17krCCFbpquSrt2NnoAR6ghn",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_17krCCFbpquSrt2N71ySu5hV",
              "captured": true,
              "created": 1456991308,
              "currency": "usd",
              "customer": "cus_80sytRgtPY97DE",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_17krCCFbpquSrt2NseiqIj5d",
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17krCCFbpquSrt2NnoAR6ghn/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17krC9FbpquSrt2Nn2ByeYY8",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_80sytRgtPY97DE",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2018,
                "fingerprint": "P2iXG4w2kPZzpxZL",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_80sy3KX9MmuDiL",
          "type": "charge.succeeded"
        }
  recorded_at: Thu, 03 Mar 2016 10:53:49 GMT
recorded_with: VCR 3.0.1
