---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17lDflFbpquSrt2NWKojV2hq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17lDflFbpquSrt2NWKojV2hq",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1457077709,
          "data": {
            "object": {
              "id": "ch_17lDflFbpquSrt2NphBapfbn",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1457077709,
              "currency": "usd",
              "customer": "cus_80wx4aorPgHagd",
              "description": "payment to fail",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17lDflFbpquSrt2NphBapfbn/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17lDeJFbpquSrt2NxzdkMtz8",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_80wx4aorPgHagd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "ZzW6zll4koytScKS",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_81GCqLr2wg7exx",
          "type": "charge.failed"
        }
  recorded_at: Fri, 04 Mar 2016 07:59:42 GMT
recorded_with: VCR 3.0.1
