---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2019&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17k9c3FbpquSrt2NkrW5izAn",
          "object": "token",
          "card": {
            "id": "card_17k9c2FbpquSrt2Nj0ubHL2M",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "P2iXG4w2kPZzpxZL",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "119.9.105.199",
          "created": 1456823775,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 01 Mar 2016 09:16:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=a+valid+charge&source=tok_17k9c3FbpquSrt2NkrW5izAn
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17k9c5FbpquSrt2NIy5ztxzF",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17k9c5FbpquSrt2N45WOmKwF",
          "captured": true,
          "created": 1456823777,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17k9c5FbpquSrt2NIy5ztxzF/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17k9c2FbpquSrt2Nj0ubHL2M",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "P2iXG4w2kPZzpxZL",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 01 Mar 2016 09:16:18 GMT
recorded_with: VCR 3.0.1
