---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2019&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17k9byFbpquSrt2NQUWPCQko",
          "object": "token",
          "card": {
            "id": "card_17k9byFbpquSrt2NA9Jl1UV2",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "TBF3Mysprd6DudUb",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "119.9.105.199",
          "created": 1456823770,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 01 Mar 2016 09:16:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=a+invalid+charge&source=tok_17k9byFbpquSrt2NQUWPCQko
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17k9c0FbpquSrt2Nyxa5Fi6R"
          }
        }
  recorded_at: Tue, 01 Mar 2016 09:16:13 GMT
recorded_with: VCR 3.0.1
