%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img{src: @video.cover_large_url}
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Average Rating: #{average_rating(@video)}
        %p= @video.description
        .actions
          =link_to do
            %button.bnt.bnt-primary Watch Now
          =link_to do
            %button.bnt.bnt-primary Add To Queue
