---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2019&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17ktY5FbpquSrt2Nznq06weO",
          "object": "token",
          "card": {
            "id": "card_17ktY5FbpquSrt2N8iiYjSVC",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "P2iXG4w2kPZzpxZL",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "119.9.105.199",
          "created": 1457000353,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 03 Mar 2016 10:19:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=frances%40bergstrom.io&plan=base&source=tok_17ktY5FbpquSrt2Nznq06weO
    headers:
      Authorization:
      - Bearer sk_test_C0Q8gFGxNZsXIpEvA4lsJJ7r
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_80vOYH2QrJoqzU",
          "object": "customer",
          "account_balance": 0,
          "created": 1457000355,
          "currency": "usd",
          "default_source": "card_17ktY5FbpquSrt2N8iiYjSVC",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "frances@bergstrom.io",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17ktY5FbpquSrt2N8iiYjSVC",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_80vOYH2QrJoqzU",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "P2iXG4w2kPZzpxZL",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_80vOYH2QrJoqzU/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_80vO9yMs2b1EwV",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1459678755,
                "current_period_start": 1457000355,
                "customer": "cus_80vOYH2QrJoqzU",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1456891736,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "the base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1457000355,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_80vOYH2QrJoqzU/subscriptions"
          }
        }
  recorded_at: Thu, 03 Mar 2016 10:19:16 GMT
recorded_with: VCR 3.0.1
